@font-face {
    font-family: PoppinsBold;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: PoppinsBoldItalic;
    src: url(./assets/fonts/Poppins-BoldItalic.ttf);
}
@font-face {
    font-family: PoppinsExtraBold;
    src: url(./assets/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: PoppinsExtraBoldItalic;
    src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: PoppinsItalic;
    src: url(./assets/fonts/Poppins-Italic.ttf);
}
@font-face {
    font-family: PoppinsRegular;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 0%, 54%);
    --off-black: hsl(0, 0%, 8%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::placeholder {
    color: var(--smokey-grey);
}
body {
    min-height: 100vh;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
main {
    background-color: var(--white);
    padding: 3rem 3.5rem;
    border-radius: 1.5rem 1.5rem 25% 1.5rem;
}
ul {
    position: relative;
    border-bottom: 2px solid var(--light-grey);
    padding: 0 7rem 2rem 0;
}
button {
    position: absolute;
    right: -20px;
    top: 85px;
    background-color: var(--purple);
    padding: 1.5rem;
    border-style: none;
    border-radius: 100%;
    cursor: pointer;
}
hr, button {
    display: inline-block;
}
ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}
label {
    color: var(--smokey-grey);
    font-size: 14px;
    letter-spacing: .25rem;
    font-family: PoppinsBold;
}
input {
    margin-top: .5rem;
    font-size: 32px;
    font-family: PoppinsBold;
    border-radius: .5rem;
    border: 1px solid var(--light-grey);
    padding: .625rem;
    width: 150px;
}
span {
    color: var(--purple);
}
p {
    font-size: 100px;
    line-height: 1.125em;
    font-family: PoppinsExtraBoldItalic;
    color: var(--off-black);
}
.attribution { 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}