@font-face {
    font-family: PoppinsBold;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: PoppinsExtraBoldItalic;
    src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: PoppinsItalic;
    src: url(./assets/fonts/Poppins-Italic.ttf);
}

:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 0%, 54%);
    --off-black: hsl(0, 0%, 8%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::placeholder {
    color: var(--smokey-grey);
}
body {
    min-height: 100vh;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
main {
    background-color: var(--white);
    padding: 3rem 3.5rem;
    border-radius: 1.5rem 1.5rem 25% 1.5rem;
}
ul {
    position: relative;
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--light-grey);
    padding: 0 10rem 2rem 0;
}
button {
    position: absolute;
    right: -10px;
    top: 90px;
    background-color: var(--purple);
    padding: 1.25rem;
    border-style: none;
    border-radius: 100%;
    cursor: pointer;
}
button:hover {
    background-color: var(--off-black);
    transition: all .3s ease-out;
}
hr, button {
    display: inline-block;
}
label {
    color: var(--smokey-grey);
    font-size: 14px;
    letter-spacing: .25rem;
    font-family: PoppinsBold;
}
input {
    margin-top: .25rem;
    font-size: 32px;
    font-family: PoppinsBold;
    border-radius: .5rem;
    border: 2px solid var(--light-grey);
    padding: 0.5rem .75rem;
    width: 140px;
    outline: none;
}
span {
    color: var(--purple);
}
p {
    font-size: 93px;
    line-height: 1.125em;
    font-family: PoppinsExtraBoldItalic;
    color: var(--off-black);
}
.message-day,
.message-month,
.message-year {
    margin-top: .5rem;
    height: .25rem;
    font-size: 12px;
    font-family: PoppinsItalic;
    color: var(--light-red);
}
.attribution { 
    text-align: center;
    font-family: PoppinsBold;
}
.attribution a { 
    color: var(--purple)
}

@media only screen and (max-width: 768px) {
    main {
        padding: 2.5rem 1.25rem;
    }
    ul {
        gap: 1rem;
        margin-bottom: 3.25rem;
        padding: 0 0 3.25rem 0;
    }
    ::placeholder {
        font-size: 20px;
    }
    label {
        font-size: 12px;
        letter-spacing: .125rem;
    }
    input {
        margin-top: .125rem;
        font-size: 20px;
        padding: .75rem;
        width: 90px;
    }
    button {
        right: 120px;
        top: 115px;
        padding: 1rem;
    }
    img {
        width: 28px;
        height: 26px;
    }
    .message-day,
    .message-month,
    .message-year {
        max-width: 90px;
        font-size: 10px;
    }
    p {
        font-size: 50px;
    }
}